@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
    --logout-btn-background: 0 100% 40%;
    --logout-btn-background-hover: 0 100% 30%;
    --visible-btn-background: 140 100% 25%;
    --visible-btn-background-hover: 140 100% 15%;
    --input-color: 200 10% 20%;
    --input-background: transparent;
    --box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    --border-color: rgb(181, 181, 182);
    --background-highlight: rgb(112, 112, 112);
    --color-green-highlight: #5fbd93;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 6% 10%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
      --logout-btn-background: 0 100% 50%;
      --logout-btn-background-hover: 0 100% 60%;
      --visible-btn-background: 140 100% 30%;
      --visible-btn-background-hover: 140 100% 20%;
      --input-color: #d7d7d7;
      --input-background: transparent;
      --box-shadow: rgb(119 119 119 / 12%);
      --border-color: rgb(58, 62, 65);
      --background-highlight: rgb(28, 30, 31);
      --color-green-highlight: #5fbd93;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-form {
  flex: 0;
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.login-link {
  display: block;
  background-color: hsl(var(--btn-visible));
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.login-link:hover {
  background-color: hsl(var(--btn-visible-hover));
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--background));
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsla(var(--foreground), 0.1);
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 20rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.statusFilterContainer {
  background-color: hsl(var(--btn-background));
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.statusButton {
  background-color: hsl(var(--foreground));
  color: var(--foreground);
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.statusButton:hover,
.statusButton.selected {
  background-color: hsl(var(--btn-background-hover));
  color: hsl(var(--foreground));
  border-color: hsl(var(--foreground));
}

hr {
  color: hsl(var(--foreground));
  padding-bottom: 0.5rem;
}
.header.shadow {
  box-shadow: 1px 11px 19px 1px var(--box-shadow);
}
.half-page {
  width: 50vw;
}
.full-page {
  width: 99.3vw;
}
.error-api {
  padding: 8px;
  border-radius: 8px;
  background-color: #4b1c1c;
}
.composite-buttons .button:not(:last-child) {
  border-radius: 8px 0 0 8px;
  border-right: 1px solid hsl(var(--visible-btn-background));
}
.composite-buttons .button:last-child {
  border-radius: 0 8px 8px 0;
}
.composite-buttons-3 .button:nth-child(2) {
  border-radius: 0;
}
.composite-buttons-3 {
  gap: 0;
}

.center {
  text-align: center;
  margin: auto;
}
.highlight-text {
  color: var(--color-green-highlight);
}
.triquarter {
  width: 75vw;
}

.fade-out {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  pointer-events: none;
}

.post-list-container {
  width: 100vw;
}
